<main>
  <div class="grid grid-cols-2 relative z-10 w-full h-full">
    <div class="flex itens-center justify-center w-full">
      <img src="assets/logos/logoLogin.svg" alt="logo da playstation" width="220">
    </div>
    <div class="bg-backgroundLogin backdrop-blur-sm relative">
      <div class="w-full flex justify-end absolute">
        <a routerLink="">
          <img src="assets/x.png" alt="close page" width="40" class="duration-200 hover:bg-btnWhiteHover p-2.5 rounded-full mr-5 mt-5">
        </a>
      </div>
      <div class="flex flex-col justify-center h-full max-w-lg m-auto text-center gap-5">
        <h1 class="font-light text-3xl">Iniciar sessão no PlayStation</h1>
        <div class="w-full p-0.5 border-2 border-transparent rounded-full borderActive">
          <input type="text" placeholder="ID de início de sessão (endereço de email)" class="w-full bg-input py-3 px-4 rounded-3xl placeholder:text-slate-800 backdrop-opacity-40 hover:bg-inputHover duration-100 font-light">
        </div>
        <div class="w-full p-1 border-2 border-transparent">
          <button class="w-full bg-btnLogin rounded-3xl p-2 text-backgroundLogin font-bold">Seguinte</button>
        </div>
        <div class="flex justify-center">
          <a href="#" class="text-btnBlue duration-300 hover:text-btnLogin">Sobre a conta da Sony</a>
        </div>
        <div>
          <a href="#" class="text-btnBlue duration-300 hover:text-btnLogin">Problemas ao iniciar uma sessão?</a>
        </div>
        <button class="bg-btnWhiteHover rounded-3xl p-2 font-bold text-btnBlueHover duration-300 hover:text-btnLogin hover:bg-btnWhiteHover2">Criar uma conta</button>
      </div>
        <div class="w-full flex justify-center absolute bottom-5">
          <a href="#" class="text-center text-btnBlueHover duration-300 hover:text-btnLogin">Ajuda/Mapa do site</a>
        </div>
    </div>
  </div>
</main>
