.swiper {
  width: 100%;
  height: 600px;
  position: relative;

  swiper-slide {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      position: absolute;
    }

    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to right, rgb(23, 23, 23) 20%, rgba(23, 23, 23, 0.534), rgba(0, 128, 0, 0) 70%);
      top: 0;
      left: 0;
      z-index: 1;
    }

    .title {
      width: 300px !important;
      height: auto !important;
      position: relative;
    }
  }
}

.swiper2 {
  margin: auto;
  padding:0 10px;

  swiper-slide {
    cursor: pointer;
    opacity: .5;
    transition: .3s ease;
    margin: 30px 0;
    width: 200px;
    height: 150px !important;
    border-radius: 20px;

    &:hover {
      transform: translateY(-15px);
      -webkit-box-shadow: 0px 23px 29px -19px rgba(0,0,0,0.43);
      -moz-box-shadow: 0px 23px 29px -19px rgba(0,0,0,0.43);
      box-shadow: 0px 23px 29px -19px rgba(0,0,0,0.43);
    }

    &:hover:not(.swiper-slide-thumb-active){
      padding: 0px;
      border: 0px;
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  .swiper-slide-thumb-active {
    background-color: var(--white);
    border: 3px solid var(--btn-blue);
    border-radius: 20px;
    padding: 3px;
    opacity: 1;
  }
}

.button {
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  border-radius: 24px;
}

.active {
  color: black;
  background-color: white;
}

.disable {
  color: rgb(255, 255, 255);
  background-color: transparent;
  &:hover { color: var(--btn-blue); }
}

.gamesBox {
  transition: .4s ease;
  &:hover { transform: scale(1.03);}
}
.games:hover > :not(:hover) { opacity: .4; }

.swiperPlus {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 20;
  margin-bottom: 50px;

  swiper-slide {
    height: 350px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      box-shadow: 1px 1px 10px rgba(47, 47, 47, 0.675);
      transform: scale(1.02);
    }

    .background-linear {
      position: absolute;
      top: 0;
      background-image: linear-gradient(to right top, rgb(0, 0, 0), rgba(37, 37, 37, 0.561), rgba(255, 255, 255, 0));
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 20px;
    }
  }
}

.swiper-store {
  swiper-slide {
    transition: .3s;
    .imgStore {
      box-shadow: 1px 3px 10px rgb(57, 57, 57);
      transition: .2s;
      &:hover { box-shadow: 1px 3px 20px rgb(57, 57, 57);}
    }
  }
}

@media (max-width: 980px){
  .swiper2 {
    swiper-slide {
      width: 150px;
      height: 80px;
    }
  }
}

@media (max-width: 640px){
  .swiper {
    swiper-slide{ .title { width: 230px !important; } }
  }

}

@media (max-width: 500px) {
  .swiperPlus{
    padding: 0 20px;
  }
}

@media (min-width: 400px) {
  .swiper2 {
    swiper-slide { height: 120px !important; }
  }
}










