<app-header />

<!-- SLIDE CONTENT -->
<swiper-container init="false" class="swiper" thumbs-swiper=".swiper2">
  @for(item of slideSwiper; track item) {
    <swiper-slide class="h-auto" lazy="true">
      <img [src]="item.imgFundo" loading="lazy" class="fundo">
        <div class="w-1/3 absolute flex flex-col mt-24 ml-24 gap-7 z-10">
          <img [src]="item.imgTitle" class="title" data-swiper-parallax-y="200">
          <h1 class="text-5xl text-white" data-swiper-parallax-y="100">
          {{ item.title }}
          </h1>
          <span class="text-white text-lg" data-swiper-parallax-y="100">
          {{ item.subTitle }}
          </span>
          <btn-white class="flex" data-swiper-parallax-y="100" textButton="{{item.button}}"/>
        </div>
    </swiper-slide> }
</swiper-container>

<!-- SLIDE CONTETNT 2 THUMB-->
<swiper-container init="false" class="swiper2 max-w-screen-xl" space-between="10">
  @for(item of slideSwiper; track item) {
    <swiper-slide class="h-full">
      <img [src]="item.imgMiniatura" class="object-cover ">
    </swiper-slide> }
</swiper-container>

<!-- SLIDE ACCESSORIES -->
 @defer(on viewport){
   <app-accessories />
 } @placeholder {
    <p>Loading...</p>
 } @loading {
    <p>Loading...</p>
 } @error {
    <p>Error!</p>
 }

 <!-- GAMES LIST -->
<section class="bg-bgGames w-full py-12 mt-10">
  <div class="max-w-screen-2xl m-auto">
    <!-- Header Games-->
    <div class="text-white flex flex-col items-center gap-8 mb-10">
      <h1 class="text-4xl text-center px-5">Jogos incríveis de PS4 e PS5 já disponíveis ou chegando em breve</h1>
      <!-- Buttons -->
      <div class="flex bg-bgButton rounded-3xl hover:shadow-2xl">
        <button (click)="isOpen(1)">
          <div class="button active" id="btn">Novos lançamentos</div>
        </button>
        <button (click)="isOpen(2)">
          <div class="button disable" id="btn2">Em breve</div>
        </button>
      </div>
    </div>
    <!-- GAMES -->
    <div class="grid grid-cols-listGaming gap-y-14 games gap-x-5 mx-5 items-center justify-center max-md:grid-cols-listGamingMobile mb-12">
      <!-- NOVOS LANÇAMENTOS -->
      @if(button == 1) {
        @for(item of gamesList; track item){
            <div class="w-full h-48 cursor-pointer gamesBox">
              <img [src]="item.img" class="object-cover object-top w-full h-full rounded-xl img">
              <p class="text-white pt-2 text-sm"> {{ item.name }}</p>
            </div>
          }
        <!-- EM BREVE-->
      } @else if (button == 2) {
        @for(item of gamesList; track item){
          <div class="w-full h-48 cursor-pointer gamesBox">
            <img [src]="item.imgEmbreve" class="object-cover object-top w-full h-full rounded-xl img">
            <p class="text-white pt-2 text-sm"> {{ item.nameEmbreve }}</p>
          </div>
        }
        }
    </div>
  </div>
</section>

<!-- PS5 PLUS -->
<section class="relative z-10">
  <img src="assets/plus/background.plus.avif" alt="background section plus" class="w-full h-heightPlus object-cover absolute z-10">
  <div class="relative z-20 max-w-screen-2xl m-auto px-5 pt-24 text-center flex flex-col gap-5 items-center mb-4">
    <img src="assets/plus/PlayStationPlus.png" alt="logo ps5 plus" width="230">
    <h1 class="text-4xl">Descubra o PlayStation Plus</h1>
    <p class="text-gray">Curta centenas de jogos para PS5 e PS4, além de clássicos do PlayStation. Descubra aventuras épicas, jogos independentes sem igual, favoritos para a família inteira e muito mais.</p>
  </div>

  <swiper-container init="false" class="swiperPlus" >
    <swiper-slide>
      <img src="assets/plus/deluxe.webp" alt="background deluxe">
      <div class="background-linear"></div>
      <div class="flex flex-col gap-3 absolute bottom-0 max-w-lg pl-7 pb-7 text-white">
        <div class="max-w-52 uppercase text-center bg-boxDeluxe text-textDeluxe border border-borderPlus font-bold tracking-widest">deluxe</div>
        <h1 class="text-2xl">PlayStation Plus Deluxe</h1>
        <p>Aproveite todas as vantagens dos planos Extra e Essencial do PlayStation Plus, além de beneficios exclusivos, como a experimentação de jogos, o streaming na nuvem e o catálogo de clássicos.</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/plus/extra.webp" alt="background extra">
      <div class="background-linear"></div>
      <div class="flex flex-col gap-3 absolute bottom-0 max-w-lg pl-7 pb-7 text-white">
        <div class="max-w-52 uppercase text-center bg-boxExtra text-black border border-borderPlus font-bold tracking-widest">extra</div>
        <h1 class="text-2xl">PlayStation Plus Extra</h1>
        <p>Baixe e curta centenas de jogos para PS5 e PS4 no catálogo de jogos, além de todas as vantagens do PlaySation Plus Essencial.</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="background-linear"></div>
      <img src="assets/plus/essential.webp" alt="background essential">
      <div class="flex flex-col gap-3 absolute bottom-0 max-w-lg pl-7 pb-7 text-white">
        <div class="max-w-52 uppercase text-center bg-white text-black border border-borderPlus font-bold tracking-widest">essential
        </div>
        <h1 class="text-2xl">PlayStation Plus Essential</h1>
        <p>Novos jogos todos os meses, modo multijogador online, descontos exclusivos na Ps Store e muito mais, disponíveis com os três planos de assinatura do PlaySation Plus</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="background-linear"></div>
      <img src="assets/plus/extra.webp" alt="background extra">
      <div class="flex flex-col gap-3 absolute bottom-0 max-w-lg pl-7 pb-7 text-white">
        <div class="max-w-52 uppercase text-center bg-boxExtra text-black border border-borderPlus font-bold tracking-widest">extra</div>
        <h1 class="text-2xl">PlayStation Plus Extra</h1>
        <p>Baixe e curta centenas de jogos para PS5 e PS4 no catálogo de jogos, além de todas as vantagens do PlaySation Plus Essencial.</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <btn-blue textButton="Descubra o PlayStation Plus" class="flex relative z-20 justify-center mx-5"/>
</section>

<!-- VR -->
<section class="relative z-10 bg-backgroundVR bg-cover mt-8 h-heightVR">
  <div class="max-w-7xl m-auto flex items-center h-full">
    <div class="relative max-w-lg z-50 flex flex-col gap-7 text-white justify-center h-full px-5">
      <h1 class="text-4xl font-light">Sinta uma nova realidade</h1>
      <p class="font-light">Mergulhe em mundos incríveis que vão além da realidade com o inovador  headset PlayStation VR2 e o controle PlayStation VR2 Sense.</p>
      <btn-white class="flex" textButton="Saiba mais"/>
    </div>
  </div>
</section>

<!-- DATE NEW-->
 <section class="w-full h-heightUpdate bg-backgroundDate bg-cover border-t">
  <div class="max-w-screen-xl m-auto h-full">
    <div class="flex flex-col justify-center h-full gap-5 px-5">
      <h1 class="text-white text-5xl">EM AGOSTO <br>
        NO PLAYSTATION</h1>
      <p class="text-borderPlus font-bold">Confira os maiores lançamentos deste mês, além de recursos exclusivos, guias <br> e muito mais.</p>
    </div>
  </div>
</section>
<section class="w-full bg-purple h-heightUpdate2 flex flex-col justify-center items-center">
  <swiper-container init="false" class="swiper-update mx-16 max-w-screen-2xl m-auto">
    @for(item of slidesUpdate; track item){
      <swiper-slides class="w-full p-4 rounded-2xl flex flex-col gap-5 mx-1 my-5 text-white duration-300 border-4 border-transparent hover:bg-boxUpdate hover:border-borderUpdate hover:-translate-y-2 cursor-pointer">
        <img [src]="item.img" alt=""  class="rounded-2xl">
        <div class="flex flex-col gap-3 pb-5">
          <h1 class="text-xl">{{ item.title }}</h1>
          <span class="text-sm">{{ item.description }}</span>
        </div>
      </swiper-slides>
    }
  </swiper-container>
  <btn-white class="flex justify-center mt-5 mb-10" textButton="Descubra mais"/>
</section>

 <!-- STORE -->
<section class="w-full bg-white">
  <div class="max-w-screen-2xl m-auto px-5 flex items-center justify-center gap-10 h-heightUpdate2">
    <div class="max-w-96 flex flex-col gap-5">
      <img src="assets/logos/store.png" alt="logo playstation store" width="300">
      <h1 class="text-4xl">Novas promoções na PlayStation™Store</h1>
      <p class="text-gray">Descubra os mais novos descontos e as promoções sazonais de grandes jogos e expansões para PS5 e PS4.</p>
      <btn-orange textButton="Ver todos os descontos" class="flex" />
    </div>
    <div>
      <img src="assets/store/store.back.webp" alt="imagem da playstation store" class="rounded-3xl duration-300 hover:scale-102 cursor-pointer" width="900">
    </div>
  </div>

  <h1 class="mx-5 my-10 text-center text-4xl">As novidades do PlayStation Blog</h1>
  <swiper-container init="false" class="swiper-store m-auto relative w-full h-full">
    @for(item of listStore; track item) {
      <swiper-slide class="flex flex-col justify-between rounded-2xl shadow-lg p-5 mt-5 h-heightUpdate2 duration-1000 hover:shadow-2xl cursor-pointer">
        <div class="flex flex-col gap-4">
          <img [src]="item.img" alt="" class="rounded-2xl imgStore">
          <h1 class="text-xl"> {{ item.title }}</h1>
          <p class="text-sm text-gray"> {{ item.description }}</p>
        </div>
        <div class="flex gap-3">
          <img [src]="item.miniaturaImg" alt="" width="50" class="rounded-md">
          <div class="flex flex-col gap-0.5">
            <span class="text-xs font-bold">{{ item.name }}</span>
            <span class="text-xs">{{ item.location }}</span>
            <span class="text-xs text-gray">{{ item.date }}</span>
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>
</section>

<!-- REDES SOCIAIS -->
 <section class="w-full bg-social h-96 mt-14">
  <div class="max-w-screen-xl m-auto h-full flex justify-center items-center">
    <div class="flex flex-col items-center gap-16">
      <h1 class="text-4xl">Siga-nos nas redes sociais</h1>
      <div class="flex gap-8">
        <img src="assets/redes-sociais/twitter.webp" alt="" width="120" class="cursor-pointer duration-300 hover:scale-102">
        <img src="assets/redes-sociais/facebook.webp" alt="" width="120" class="cursor-pointer duration-300 hover:scale-102">
        <img src="assets/redes-sociais/instagram.webp" alt="" width="120" class="cursor-pointer duration-300 hover:scale-102">
        <img src="assets/redes-sociais/youtube.webp" alt="" width="120" class="cursor-pointer duration-300 hover:scale-102">
      </div>
    </div>
  </div>
 </section>

 <!-- FOOTER -->
 <footer class="w-full bg-footer h-80">
  <div class="max-w-screen-2xl m-auto pt-6">
    <img src="assets/logos/footer.png" alt="" width="120">
    <hr class="my-6 text-btnBlue">
    <div class="text-center text-white">
      <h1 class="text-lg">Site desenvolvido por <a href="https://github.com/PedroHenriqueBS" target="_blank" class="text-textDeluxe">Pedro Henrique</a> com base no modelo do site da PlayStation.</h1>
      <span class="text-lg">Para ver mais projetos acesse meu GitHub:</span><br>
      <a href="https://github.com/PedroHenriqueBS?tab=repositories" target="_blank" class="text-textDeluxe">https://github.com/PedroHenriqueBS?tab=repositories</a>
    </div>
  </div>
 </footer>



