<app-header />

<swiper-container init="false" class="swiper" thumbs-swiper=".swiper2">
  
  <swiper-slide class="h-auto">
    <img src="assets/slides/nba.jpg">
    <div class="w-1/3 absolute flex flex-col mt-32 ml-32 gap-7">
      <h1
      class="text-5xl text-white"
      data-swiper-parallax-y="200">
      Jogue onde estiver, ganhe em todo lugar
      </h1>
      <span
      class="text-white text-lg"
      data-swiper-parallax-y="200">
      Acumule vitórias, desbloqueie banners e faça história no NBA 2k25. Em breve no PS4 e PS5.
      </span>
      <btn-white
      textButton="Saiba mais"
      class="w-32"
      data-swiper-parallax-y="200"/>
    </div>
  </swiper-slide>

  <swiper-slide>
    <img src="assets/slides/nba.jpg">
    <div class="w-1/3 absolute flex flex-col mt-32 ml-32 gap-7">
      <h1 class="text-5xl text-white" data-swiper-parallax-y="-200">Jogue onde estiver, ganhe em todo lugar</h1>
      <span class="text-white text-lg" data-swiper-parallax-y="-200">Acumule vitórias, desbloqueie banners e faça história no NBA 2k25. Em breve no PS4 e PS5.</span>
      <btn-white textButton="Saiba mais" class="w-32" data-swiper-parallax-y="-200"/>
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
</swiper-container>

<swiper-container init="false" class="swiper2" space-between="10">
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slides/nba.jpg">
  </swiper-slide>
</swiper-container>

<br>
<br>
<br>

